<?xml version='1.0' ?>
<!DOCTYPE entity SYSTEM "cfg/monitor.dtd">  
<monitor>
    <id>q2</id>
    <source class="org.jpos.ee.pm.core.monitor.FileMonitorSource" >
        <properties>
            <property name="filename" value="log/q2.log" />
        </properties>
    </source>
    <formatter class="org.jpos.ee.pm.core.monitor.MonitorFormatter" />
    <delay>3000</delay>
    <max>100</max>
</monitor>
